<div class="container">
    <div class="page-header">Fill up the form and send it to get the numbers in english format.</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div ng-view="">

            </div>
        </div>
    </div>
</div>
